.btn{
    border-radius: 30px;
}

.navbar{
    opacity:0.9;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.jumbotron{
    background: url("../../../assets/images/landing.jpg");
 
 
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.search{
    margin-top: 5%;
    margin-left: 25%;
  
}

.banner{
    padding:15%;
    color: beige;
}

.active-link{
    font-weight: bold;
}